* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-color: black;
}

header {
    background-color: rgba(255, 217, 0, 0.295);
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    padding-left: 50px;
}

header h1 {
    font-size: 35px;
}

header nav li a {
    color: #fff;
    padding-left: 10px;
    font-size: 18px;
}

header nav li {
    display: inline;
}

header nav {
    padding-right: 50px;
    display: flex;
    align-items: center;
}

.container-jogos img {
    width: 300px;
}

h2 {
    padding-left: 100px;
    padding-top: 10px;
}

.container-jogos {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 70px;
}

.container-jogos p {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 200px;
}

.container-jogos img {
    padding-left: 15px;
}

.container-jogos p,
h2 {
    color:#fff;
}